<h1><%= @passenger.name %></h1>

<section class="flights">
<h2>Upcoming Flights</h2>
<% @passenger.flights.each do |flight| %>
<ul>
  <li><%= link_to flight.number, "/flights/#{flight.id}" %></li>
</ul>
<% end %>
</section>

<h2>Add Flights</h2>
<section class="form">
<%= form_tag "/passengers/#{@passenger.id}/add_flight", method: :post do %>
  <%= label_tag :number %>
  <%= text_field_tag :number %>
  <%= submit_tag "Submit" %>
<% end %>
</section>
